workflows/COREAUTOCRM-ACTION-REGISTRAR-PRE-OS.json
{
  "name": "COREAUTOCRM-ACTION-REGISTRAR-PRE-OS",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "start-node",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "veiculos",
          "mode": "list",
          "cachedResultName": "veiculos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "cliente_id": "={{ $('Start').item.json.pessoa.id }}",
            "placa": "={{ $('Start').item.json.respostaIA.actionData.placa_veiculo }}",
            "marca": "={{ $('Start').item.json.respostaIA.actionData.marca_veiculo }}",
            "modelo": "={{ $('Start').item.json.respostaIA.actionData.modelo_veiculo }}"
          },
          "matchingColumns": [
            "placa"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        600,
        240
      ],
      "id": "upsert-veiculo",
      "name": "Upsert Veiculo",
      "credentials": {
        "postgres": {
          "id": "77y5s6MheuLZSCpd",
          "name": "COREAUTOCRM"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ordens_servico",
          "mode": "list",
          "cachedResultName": "ordens_servico"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "veiculo_id": "={{ $json.id }}",
            "cliente_id": "={{ $('Start').item.json.pessoa.id }}",
            "status": "pre_os",
            "descricao_problema": "={{ $('Start').item.json.respostaIA.actionData.descricao_problema }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        820,
        240
      ],
      "id": "insert-os",
      "name": "Criar OS",
      "credentials": {
        "postgres": {
          "id": "77y5s6MheuLZSCpd",
          "name": "COREAUTOCRM"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "os_eventos",
          "mode": "list",
          "cachedResultName": "os_eventos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "os_id": "={{ $json.id }}",
            "pessoa_id": "={{ $('Start').item.json.pessoa.id }}",
            "tipo_evento": "comunicacao",
            "descricao": "Pré-OS criada via WhatsApp pela CORA",
            "origem": "whatsapp"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        240
      ],
      "id": "insert-evento",
      "name": "Registrar Evento",
      "credentials": {
        "postgres": {
          "id": "77y5s6MheuLZSCpd",
          "name": "COREAUTOCRM"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Retorna os dados originais para o fluxo principal continuar (Salvar Memória, etc)\nreturn $('Start').item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        240
      ],
      "id": "restore-context",
      "name": "Retornar Contexto"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Upsert Veiculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Veiculo": {
      "main": [
        [
          {
            "node": "Criar OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar OS": {
      "main": [
        [
          {
            "node": "Registrar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Evento": {
      "main": [
        [
          {
            "node": "Retornar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}