workflows/COREAUTOCRM-ACTION-SELECIONAR-OS-TRABALHO.json
{
  "name": "COREAUTOCRM-ACTION-SELECIONAR-OS-TRABALHO",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "start",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [380, 240]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const osId = $json.respostaIA?.actionData?.os_id;\n\nif (!osId) throw new Error('os_id ausente no actionData');\n\nconst contexto = $json.pessoa.contexto_memoria || {};\n\nconst novoContexto = {\n  ...contexto,\n  actionDataContext: {\n    os_id: osId,\n    faseCore: 'ROTEADOR_CENTRAL'\n  }\n};\n\nreturn { json: { ...$json, contexto_atualizado: novoContexto } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 240],
      "id": "set-active-os",
      "name": "Set Active OS"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pessoas",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contexto_memoria": "={{ $json.contexto_atualizado }}",
            "id": "={{ $json.pessoa.id }}"
          },
          "matchingColumns": ["id"]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [820, 240],
      "id": "update-pessoa",
      "name": "Update Pessoa",
      "credentials": {
        "postgres": {
          "id": "77y5s6MheuLZSCpd",
          "name": "COREAUTOCRM"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [{ "node": "Set Active OS", "type": "main", "index": 0 }]
      ]
    },
    "Set Active OS": {
      "main": [
        [{ "node": "Update Pessoa", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "8789fea02bf66b7dafd4e5176a3c32778a425a290813713219986f59984f8a16"
  },
  "tags": []
}
