workflows/COREAUTOCRM-SUB-FORMAT-CALL.json
{
  "name": "COREAUTOCRM-SUB-FORMAT-CALL",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.messageType.toUpperCase() }}",
                    "rightValue": "AUDIOMESSAGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "aebfc8e2-dbd9-4078-b8e8-5c214d54c799"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a32a0734-06c1-43b0-a011-5a7abe46c244",
                    "leftValue": "={{ $json.body.data.messageType.toUpperCase() }}",
                    "rightValue": "CONVERSATION",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0fddee1e-08b5-4591-9737-5c118ad71a52",
                    "leftValue": "={{ $json.body.data.messageType.toUpperCase() }}",
                    "rightValue": "DOCUMENTMESSAGE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCUMENTMESSAGE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee214993-e309-4e0a-b8c2-44a551dddffb",
                    "leftValue": "={{ $json.body.data.messageType.toUpperCase() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OUTRO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        0
      ],
      "id": "461b801c-a181-4606-91d7-52729b143f7c",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        432,
        -176
      ],
      "id": "4fa5c427-5eaa-4fa0-a4b0-dbae2789900f",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        656,
        -176
      ],
      "id": "d1df0d8d-1fe5-44a8-91c3-053d67594f08",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "IdxbHTtnZL8GPSoW",
          "name": "Gemini Api Key Rogerio"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($json.validPayload)\n  $input.item.json.body.fromMe = $('Start').item.json.body.data.key.fromMe;\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        16
      ],
      "id": "bfaaf363-fd7d-4cf9-8413-931d8812e5f7",
      "name": "Formatar Resposta"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('CARREGAR_CONFIGS').item.json.config_json.evolutionapi.instanceName }}",
        "messageId": "={{ $('Switch').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        192,
        -176
      ],
      "id": "a31dcce2-2ec2-4cdd-9309-fcf57a85154e",
      "name": "Audio em base64",
      "credentials": {
        "evolutionApi": {
          "id": "OffPuCi6FSBEIiKv",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "80b37b7f-dc30-4ad8-92dd-45b4cfff4194",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -688,
        16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT config_json FROM lojas WHERE whatsapp_loja = $1;",
        "options": {
          "queryReplacement": "={{ $json.body.sender.split('@')[0] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -464,
        16
      ],
      "id": "eb235866-5fb2-48e1-845d-06af21fd2097",
      "name": "CARREGAR_CONFIGS",
      "credentials": {
        "postgres": {
          "id": "77y5s6MheuLZSCpd",
          "name": "COREAUTOCRM"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pega o corpo da requisição que chega da Evolution API\nconst body = $('Switch').item.json.body;\nconst data = body.data || {key: {remoteJid : body.remoteJid}};\nconst key = data.key;\n\nlet senderPhone = '';\nlet senderGroup = '';\n// Usa o pushName se existir, que é o nome do contato no WhatsApp\nlet senderName = '';\nlet validPayload = true;\n\n// A \"Auditoria\" para diferenciar grupo de privado\nif (key.remoteJid && key.remoteJid.includes('@g.us')) {\n    // CENÁRIO 1: MENSAGEM DE GRUPO\n    // O ID do grupo é o remoteJid\n    senderGroup = key.remoteJid.split('@')[0];\n    \n    // O número do participante que enviou a mensagem está no campo 'participant'\n    if (key.participant){\n      senderPhone = key.participant.split('@')[0];  \n    } else {\n      validPayload = false;\n    }\n    \n\n    senderName = data.pushName;\n\n} else {\n    // CENÁRIO 2: MENSAGEM PRIVADA\n    senderGroup = ''; // O campo de grupo fica vazio\n    \n    // O número do remetente é o próprio remoteJid\n    const idjid = '@s.whatsapp';\n      \n    let jid = key.remoteJidAlt;\n    if (jid) {\n      if (!jid.includes(idjid)) jid = key.remoteJid;  \n    } else {\n      jid = key.remoteJid;\n    }\n    \n  \n    senderPhone = jid.split('@')[0];\n\n    //o Nome do remetente \n    senderName = body.senderName || data.pushName || \"\";\n}\n\n// Retorna o objeto final e limpo para ser usado no resto do workflow\n$input.item.json = {\n  body: {\n    validPayload,\n    messageType: \"AUDIO\",\n    senderName: senderName,\n    phone: senderPhone,\n    senderGroup: senderGroup, // Campo chave para nosso Switch\n    connectedPhone: body.sender.split('@')[0], // O número da instância que recebeu\n    text: {\n      message: $json.content.parts[0].text\n    },\n    audio: {\n      message: $('Audio em base64').item.json.data.base64\n    }\n  }\n};\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -176
      ],
      "id": "248b1da0-e20e-4070-9621-d44ce377ce8c",
      "name": "Formar Dados"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pega o corpo da requisição que chega da Evolution API\nconst body = $json.body;\nconst data = body.data || {key: {remoteJid : body.remoteJid}};\nconst key = data.key;\n\nlet senderPhone = '';\nlet senderGroup = '';\n// Usa o pushName se existir, que é o nome do contato no WhatsApp\nlet senderName = '';\nlet validPayload = !$json.body.data.key.fromMe;\n\n// A \"Auditoria\" para diferenciar grupo de privado\nif (key.remoteJid && key.remoteJid.includes('@g.us')) {\n    // CENÁRIO 1: MENSAGEM DE GRUPO\n    // O ID do grupo é o remoteJid\n    senderGroup = key.remoteJid.split('@')[0];\n\n    /*\n    // O número do participante que enviou a mensagem está no campo 'participant'\n    if (key.participantAlt){\n      senderPhone = key.participantAlt.split('@')[0];  \n    } else if (key.participant) {\n      senderPhone = key.participant.split('@')[0];  \n    } else {\n      validPayload = false;\n    }\n    */\n\n    if (!data.message?.conversation) {\n      validPayload = false;\n    }\n    \n\n    senderName = data.pushName;\n\n} else {\n    // CENÁRIO 2: MENSAGEM PRIVADA\n    senderGroup = ''; // O campo de grupo fica vazio\n    \n    // O número do remetente é o próprio remoteJid\n    const idjid = '@';\n      \n    let jid = key.remoteJidAlt || key.remoteJid;\n    if (!jid.includes(idjid)) jid = key.remoteJid;\n  \n    senderPhone = jid.split('@')[0];\n\n    //o Nome do remetente \n    senderName = body.senderName || data.pushName || \"\";\n}\n\n// Retorna o objeto final e limpo para ser usado no resto do workflow\n$input.item.json = {\n  body: {\n    validPayload,\n    messageType: \"TEXT\",\n    senderName: senderName,\n    phone: senderPhone,\n    senderGroup: senderGroup, // Campo chave para nosso Switch\n    connectedPhone: body.sender.split('@')[0], // O número da instância que recebeu\n    text: {\n      message: data.message.conversation\n    },\n    audio: {\n      message: \"\"\n    }\n  }\n};\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        16
      ],
      "id": "32f1a676-e3be-41f2-b630-56698c75ace8",
      "name": "Formatar Dados Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a352970a-43e6-4c9c-9c0b-0312d4c4f258",
              "name": "validPayload",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        352
      ],
      "id": "c828ae56-434b-40b2-a89f-12f3268483d1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json = $('Start').item.json;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        16
      ],
      "id": "7b6e5895-33d0-4391-a767-937e98e60b5e",
      "name": "Reset Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "55b42ab2-d110-497b-a239-1ad53b0de0ee",
              "leftValue": "={{ $json.body.senderGroup }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1312,
        16
      ],
      "id": "682fe99d-21b5-40c2-877f-43e627110fb6",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n\nlet resp = $('Formatar Resposta').item.json;\n\nresp.body.phone = resp.body.senderGroup;\nresp.body.senderName = 'GRUPO';\n\n$input.item.json = resp;\n\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        128
      ],
      "id": "64635e14-f65e-485c-92ec-c77cb5a62288",
      "name": "Resposta Grupo"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        0
      ],
      "id": "e4f06ba5-b1d3-4c29-ad0f-49769ff5c442",
      "name": "Resposta Final"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QA8aADpvqGqMSi1X",
          "mode": "list",
          "cachedResultUrl": "/workflow/QA8aADpvqGqMSi1X",
          "cachedResultName": "COREAUTOCRM-CONVERT-PDF-TO-JSON"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        160
      ],
      "id": "a8dd7ebe-9438-4949-83d4-402c77f020c4",
      "name": "Call 'COREAUTOCRM-CONVERT-PDF-TO-JSON'"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Pega o corpo da requisição que chega da Evolution API\nconst body = $('Switch').item.json.body\nconst data = body.data || {key: {remoteJid : body.remoteJid}};\nconst key = data.key;\n\nlet senderPhone = '';\nlet senderGroup = '';\n// Usa o pushName se existir, que é o nome do contato no WhatsApp\nlet senderName = '';\nlet validPayload = $json.respostaIA ? true: false;\n\n// A \"Auditoria\" para diferenciar grupo de privado\nif (key.remoteJid && key.remoteJid.includes('@g.us')) {\n    // CENÁRIO 1: MENSAGEM DE GRUPO\n    // O ID do grupo é o remoteJid\n    senderGroup = key.remoteJid.split('@')[0];\n\n    \n\n    senderName = data.pushName;\n\n} else {\n    // CENÁRIO 2: MENSAGEM PRIVADA\n    senderGroup = ''; // O campo de grupo fica vazio\n    \n    // O número do remetente é o próprio remoteJid\n    const idjid = '@';\n      \n    let jid = key.remoteJidAlt || key.remoteJid;\n    if (!jid.includes(idjid)) jid = key.remoteJid;\n  \n    senderPhone = jid.split('@')[0];\n\n    //o Nome do remetente \n    senderName = body.senderName || data.pushName || \"\";\n}\n\n// Retorna o objeto final e limpo para ser usado no resto do workflow\n$input.item.json = {\n  body: {\n    validPayload,\n    messageType: \"PDF\",\n    senderName: senderName,\n    phone: senderPhone,\n    senderGroup: senderGroup, // Campo chave para nosso Switch\n    connectedPhone: body.sender.split('@')[0], // O número da instância que recebeu\n    text: {\n      message: data.message.conversation\n    },\n    audio: {\n      message: \"\"\n    },\n    pdf: {\n      data : $json.respostaIA\n    }\n  }\n};\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        144
      ],
      "id": "04adc062-fff2-4d9c-af02-aa24f4f641d4",
      "name": "Formatar Dados PDF"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "headers": {
            "host": "logic.runoncore.com",
            "x-real-ip": "52.45.236.54",
            "x-forward-for": "52.45.236.54",
            "connection": "upgrade",
            "content-length": "730",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.13.2",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "kadosh",
            "data": {
              "key": {
                "remoteJid": "556293817416@s.whatsapp.net",
                "remoteJidAlt": "556293817416@s.whatsapp.net",
                "fromMe": true,
                "id": "3EB0159B22F0AC6BBDC134",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Kadosh Manutenção Automotiva",
              "status": "SERVER_ACK",
              "message": {
                "conversation": "manda aqui"
              },
              "messageType": "conversation",
              "messageTimestamp": 1776554534,
              "instanceId": "4ea7c89a-2de2-438d-9a40-15bfedb85688",
              "source": "web"
            },
            "destination": "https://logic.runoncore.com/app/0a54f73a-2621-49c3-8cb7-09d94bba05ba",
            "date_time": "2026-04-18T20:22:15.109Z",
            "sender": "556232831251@s.whatsapp.net",
            "server_url": "http://evolution.rogeriomaciel.com.br",
            "apikey": "64FD48B9FA42-49E9-87B3-0019E22547D3"
          },
          "webhookUrl": "https://logic.runoncore.com/app/0a54f73a-2621-49c3-8cb7-09d94bba05ba",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Audio em base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar Dados Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'COREAUTOCRM-CONVERT-PDF-TO-JSON'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Formar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio em base64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "CARREGAR_CONFIGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CARREGAR_CONFIGS": {
      "main": [
        [
          {
            "node": "Reset Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formar Dados": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados Texto": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Resposta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Input": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Grupo": {
      "main": [
        [
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'COREAUTOCRM-CONVERT-PDF-TO-JSON'": {
      "main": [
        [
          {
            "node": "Formatar Dados PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Dados PDF": {
      "main": [
        [
          {
            "node": "Formatar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "388a3321-1934-484e-8804-3a5f11c70998",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8789fea02bf66b7dafd4e5176a3c32778a425a290813713219986f59984f8a16"
  },
  "id": "ZGaj3FjKlv0lDgCq",
  "tags": []
}