workflows/COREAUTOCRM-PROCESSAR-RESPOSTA-IA.json
{
  "name": "COREAUTOCRM-PROCESSAR-RESPOSTA-IA",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "b43efd0f-adf9-4844-918d-7c6674d015f9",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1584,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nif (!$json.respostaIA) throw new Error('Objeto respostaIA inválido');\n\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -80
      ],
      "id": "3076bf7e-457f-40a7-8880-bfd995ea49a8",
      "name": "Validate Inputs"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "CONTINUAR_CONVERSA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f78cb158-8256-41ef-b27c-cebed96171cf",
                    "name": "CONTINUAR_CONVERSA"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONTINUAR_CONVERSA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0b1c2d3e-4f5a-6b7c-8d9e-0f1a2b3c4d5e",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "REGISTRAR_PRE_OS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REGISTRAR_PRE_OS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "INICIAR_DIAGNOSTICO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INICIAR_DIAGNOSTICO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2b3c4d5e-6f7a-8b9c-0d1e-2f3a4b5c6d7e",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "REGISTRAR_DIAGNOSTICO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REGISTRAR_DIAGNOSTICO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3c4d5e6f-7a8b-9c0d-1e2f-3a4b5c6d7e8f",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "REGISTRAR_APROVACAO_CLIENTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REGISTRAR_APROVACAO_CLIENTE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d5e6f7a-8b9c-0d1e-2f3a-4b5c6d7e8f9a",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "ADICIONAR_PROGRESSO_OS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ADICIONAR_PROGRESSO_OS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5e6f7a8b-9c0d-1e2f-3a4b-5c6d7e8f9a0b",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "REGISTRAR_CONCLUSAO_MECANICO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "REGISTRAR_CONCLUSAO_MECANICO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6f7a8b9c-0d1e-2f3a-4b5c-6d7e8f9a0b1c",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "VALIDAR_ENTREGA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VALIDAR_ENTREGA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7a8b9c0d-1e2f-3a4b-5c6d-7e8f9a0b1c2d",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "FINALIZAR_OS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FINALIZAR_OS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8b9c0d1e-2f3a-4b5c-6d7e-8f9a0b1c2d3e",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "SELECIONAR_OS_TRABALHO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SELECIONAR_OS_TRABALHO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9c0d1e2f-3a4b-5c6d-7e8f-9a0b1c2d3e4f",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "VOLTAR_LOBBY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VOLTAR_LOBBY"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0d1e2f3a-4b5c-6d7e-8f9a-0b1c2d3e4f5a",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "VERIFICAR_PASTA_GDRIVE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VERIFICAR_PASTA_GDRIVE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1e2f3a4b-5c6d-7e8f-9a0b-1c2d3e4f5a6b",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "INICIAR_PROCESSAMENTO_ARQUIVOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INICIAR_PROCESSAMENTO_ARQUIVOS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f3a4b5c-6d7e-8f9a-0b1c-2d3e4f5a6b7c",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "RESPONDER_DUVIDA_KB",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RESPONDER_DUVIDA_KB"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3a4b5c6d-7e8f-9a0b-1c2d-3e4f5a6b7c8d",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "GRAVAR_AUDIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GRAVAR_AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2d9d6714-a064-4eb3-bd31-23d6c8301f00",
                    "leftValue": "={{ $json.respostaIA.controlAction }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DEFAULT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2240,
        -80
      ],
      "id": "7f934517-9792-4d52-86f7-bbdd85679c7c",
      "name": "Switch Actions"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nvar input = $json;\n\nconst novoDialogo = {\n  createdAt : DateTime.now(),\n  usuario: input.msg.incomingMessage,\n  agente: input.respostaIA.userMessage\n};\n\n\nlet actionDataContext = input.pessoa.contexto_memoria.actionDataContext;\nlet newActionDataContext = input.respostaIA.actionDataContext;\nnewActionDataContext.faseCore = input.respostaIA.nextState;\n\nif (newActionDataContext._RESET_CONTEXT) {\n  newActionDataContext = {faseCore : newActionDataContext.faseCore};\n} else {\n  newActionDataContext = {...actionDataContext, ...newActionDataContext };  \n}\n\n\n\ninput.pessoa.contexto_memoria.conversas_recentes.push(novoDialogo);\ninput.pessoa.contexto_memoria.actionDataContext = newActionDataContext;\n\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        -80
      ],
      "id": "85ef4b49-e5a5-4db0-ba53-7ae90535a086",
      "name": "Preparar Memoria"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pessoas",
          "mode": "list",
          "cachedResultName": "pessoas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processando_message": false,
            "id": "={{ $json.pessoa.id }}",
            "contexto_memoria": "={{ $json.pessoa.contexto_memoria }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "loja_id",
              "displayName": "loja_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "picture_url",
              "displayName": "picture_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "cliente",
                  "value": "cliente"
                },
                {
                  "name": "atendente",
                  "value": "atendente"
                },
                {
                  "name": "mecanico",
                  "value": "mecanico"
                }
              ],
              "removed": true
            },
            {
              "id": "contexto_memoria",
              "displayName": "contexto_memoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fila_mensagens",
              "displayName": "fila_mensagens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_message_at",
              "displayName": "last_message_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "start_process_at",
              "displayName": "start_process_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processando_message",
              "displayName": "processando_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3168,
        -80
      ],
      "id": "3476eb1f-bab5-4c4e-b8b9-85f4dd860036",
      "name": "Salvar Memoria",
      "credentials": {
        "postgres": {
          "id": "77y5s6MheuLZSCpd",
          "name": "COREAUTOCRM"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Salvar Memoria').item.json.loja.config_json.evolutionapi.instanceName }}",
        "remoteJid": "={{ $('Salvar Memoria').item.json.pessoa.whatsapp }}",
        "messageText": "={{ $('Salvar Memoria').item.json.respostaIA.userMessage }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3392,
        -80
      ],
      "id": "da8dd1f9-f0a5-4c89-8a3b-ddc5ba926cb7",
      "name": "Enviar WhatsApp",
      "credentials": {
        "evolutionApi": {
          "id": "OffPuCi6FSBEIiKv",
          "name": "Evolution account"
        }
      }
    }
    ,
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-REGISTRAR-PRE-OS",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        -288
      ],
      "id": "call-registrar-pre-os",
      "name": "Action: Registrar Pre-OS"
    }
    ,
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-INICIAR-DIAGNOSTICO",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        -80
      ],
      "id": "call-iniciar-diagnostico",
      "name": "Action: Iniciar Diagnostico"
    }
    ,
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-SELECIONAR-OS-TRABALHO",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        128
      ],
      "id": "call-selecionar-os",
      "name": "Action: Selecionar OS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-REGISTRAR-DIAGNOSTICO",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        336
      ],
      "id": "call-registrar-diagnostico",
      "name": "Action: Registrar Diagnostico"
    }
    ,
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-REGISTRAR-APROVACAO-CLIENTE",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        544
      ],
      "id": "call-registrar-aprovacao",
      "name": "Action: Registrar Aprovacao"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-ADICIONAR-PROGRESSO-OS",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        752
      ],
      "id": "call-adicionar-progresso",
      "name": "Action: Adicionar Progresso"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-REGISTRAR-CONCLUSAO-MECANICO",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        960
      ],
      "id": "call-registrar-conclusao",
      "name": "Action: Registrar Conclusao"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-VALIDAR-ENTREGA",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        1168
      ],
      "id": "call-validar-entrega",
      "name": "Action: Validar Entrega"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-FINALIZAR-OS",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        1376
      ],
      "id": "call-finalizar-os",
      "name": "Action: Finalizar OS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-VOLTAR-LOBBY",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        1584
      ],
      "id": "call-voltar-lobby",
      "name": "Action: Voltar Lobby"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-VERIFICAR-PASTA-GDRIVE",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        1792
      ],
      "id": "call-verificar-gdrive",
      "name": "Action: Verificar GDrive"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-INICIAR-PROCESSAMENTO-ARQUIVOS",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        2000
      ],
      "id": "call-iniciar-processamento",
      "name": "Action: Iniciar Processamento"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "COREAUTOCRM-ACTION-RESPONDER-DUVIDA-KB",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2528,
        2208
      ],
      "id": "call-responder-duvida",
      "name": "Action: Responder Duvida"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "msg": {
            "validPayload": true,
            "fromMe": false,
            "senderPhone": "556296232227",
            "incomingMessage": "oi",
            "connectedPhone": "556296425277",
            "senderName": "Rogério Maciel",
            "messageType": "TEXT",
            "incomingAudio": []
          },
          "pessoa": {
            "id": "308a4429-1b0c-4adf-9247-2f54ad5b864f",
            "loja_id": "ba50635d-4064-4238-8fb1-7a1b2682161c",
            "nome": "Rogério Maciel",
            "whatsapp": "556296232227",
            "picture_url": "https://pps.whatsapp.net/v/t61.24694-24/473407167_1654610852147373_8423876239081890823_n.jpg?ccb=11-4&oh=01_Q5Aa3wFqOqthGZpfQ7h_q4NbL1n4FKQt6CbHDiOHNmqNE8olWA&oe=69B2A61C&_nc_sid=5e03e0&_nc_cat=110",
            "tipo": "cliente",
            "contexto_memoria": {
              "resumo_historico": {
                "agente": "Como a entrada é um Array JSON vazio (`[]`), não há diálogo para resumir.\n\n**SAÍDA (Apenas o resumo):**\nNão houve diálogo registrado na primeira metade deste histórico para gerar um parágrafo de contexto.",
                "createdAt": "2026-03-02T11:18:52.183-03:00"
              },
              "conversas_recentes": [
                {
                  "agente": "Como a entrada é um Array JSON vazio (`[]`), não há diálogo para resumir.\n\n**SAÍDA (Apenas o resumo):**\nNão houve diálogo registrado na primeira metade deste histórico para gerar um parágrafo de contexto.",
                  "createdAt": "2026-03-02T11:18:52.183-03:00"
                }
              ],
              "actionDataContext": {
                "faseCore": "RECEPCAO_TRIAGEM"
              }
            },
            "status": "ativo",
            "created_at": "2026-03-01T09:32:38.386Z",
            "fila_mensagens": {},
            "last_message_at": "2026-03-02T13:32:48.303Z",
            "start_process_at": "2026-03-02T13:33:04.419Z",
            "processando_message": true
          },
          "loja": {
            "id": "ba50635d-4064-4238-8fb1-7a1b2682161c",
            "prompt_id": "cdcfa329-c519-4ff7-be7b-ff021b2692c7",
            "nome": "Kadosh",
            "whatsapp_loja": "556296425277",
            "config_json": {
              "evolutionapi": {
                "apikey": "CxSFXk2tGLFW2WwqVR59jR",
                "instanceName": "coreauto",
                "EVOLUTIONAPI_URL_BASE": "https://evolution.rogeriomaciel.com.br"
              }
            },
            "dashboard_settings": {
              "theme": "light",
              "primary_color": "#007bff",
              "visible_charts": [
                "faturamento",
                "os_status",
                "produtividade"
              ],
              "refresh_interval": 300
            },
            "created_at": "2026-02-28T19:27:47.653Z"
          },
          "prompt": {
            "conteudo": "### 🧠 Prompt Mestre CORE AutoCRM - Persona: CORA v1.0\n\n### @MODULE: BASE\n# NÚCLEO DO SISTEMA: REGRAS GERAIS E SEGURANÇA\n\n#### 📜 Manifesto de Identidade (Quem é a CORA)\nVocê é a **CORA**, a Inteligência Artificial central do sistema CoreAutoCRM.\nVocê opera como o \"Cérebro Operacional\" da oficina. Sua função muda dependendo do usuario com quem você está falando:\n1. **Para o Cliente:** Você é a recepcionista mais educada, clara e transparente do mundo. Você traduz \"jargão de mecânico\" para português claro e passa confiança.\n2. **Para o Mecânico:** Você é a assistente de graxa. Direta, sem enrolação. Você capta áudios confusos, extrai as peças e serviços e organiza no banco de dados.\n3. **Para o Atendente/Dono:** Você é a gerente de operações. Você não toma decisões de risco sem a validação humana deles.\n\n#### 0. 🚨 SAFETY LAYER (CAMADA DE SEGURANÇA SUPREMA)\n**A Verdade Absoluta:**\n* Você **NUNCA** inventa preços de peças ou mão de obra. Se o valor não estiver no `[ORCAMENTO_JSON]` ou na `[KNOWLEDGE_BASE]`, você informa que vai consultar a equipe técnica.\n* Você **NUNCA** aprova um serviço sem o consentimento explícito do cliente (se falando com cliente) ou sem a validação formal do atendente.\n* Você **NUNCA** mente sobre prazos. Se a OS está atrasada, trate o fato com transparência.\n\n#### 0.1 DICIONÁRIO GLOBAL DE AÇÕES (controlAction)\nEstas são as únicas chaves permitidas no backend para acionar o banco de dados:\n* `CONTINUAR_CONVERSA`\n* `ROTEAR_MODULO`\n* `CRIAR_OS_TRIAGEM`\n* `RESPONDER_DUVIDA_KB`\n* `REGISTRAR_DIAGNOSTICO_PRE_ORCAMENTO`\n* `REGISTRAR_APROVACAO_CLIENTE`\n* `REGISTRAR_RECUSA_CLIENTE`\n* `AUTORIZAR_EXECUCAO` (Uso exclusivo do Atendente)\n* `ADICIONAR_PROGRESSO_OS`\n* `FINALIZAR_OS`\n* `AGENDAR_RETIRADA`\n* `PROCESSAR_PASTA_GDRIVE`\n\n#### 0.2 OBRIGAÇÃO DE SAÍDA (O JSON)\nVocê está **PROIBIDA** de responder com texto puro. Todas as suas respostas devem ser obrigatoriamente um objeto JSON com a seguinte estrutura:\n> ```json\n> {\n>   \"currentState\": \"[MODULO_ATUAL]\",\n>   \"nextState\": \"[PROXIMO_MODULO]\",\n>   \"controlAction\": \"[ACAO_DO_BACKEND]\",\n>   \"reasoning\": \"[EXPLIQUE EM 1 FRASE CURTA O PORQUÊ DESTA DECISÃO/RESPOSTA]\",\n>   \"userMessage\": \"[SUA RESPOSTA FORMATADA PARA O WHATSAPP]\",\n>   \"actionData\": { /* Dados estruturados para o banco (peças, valores, etc) */ },\n>   \"actionDataContext\": { /* Controle de variáveis de rascunho */ }\n> }\n> ```\n\n---\n### @END_MODULE\n\n\n### @MODULE: ROTEADOR_CENTRAL\n# O LOBBY DE TRIAGEM MULTI-PERFIL\n\n**Objetivo:** Ler as variáveis do sistema e definir para qual módulo a conversa deve ir com base no [TIPO_PESSOA] e no [STATUS_OS_ATIVA] da OS ativa.\n\n**Lógica de Roteamento (Automática):**\nAvalie as variáveis injetadas: [TIPO_PESSOA] e [STATUS_OS_ATIVA].\n\n* **SE** [TIPO_PESSOA] == 'cliente':\n    * Se [STATUS_OS_ATIVA] == null/nenhuma OS ativa ➔ Responda roteando para o módulo `RECEPCAO_TRIAGEM`.\n    * Se [STATUS_OS_ATIVA] == 'aguardando_aprovacao_cliente' ➔ Responda roteando para o módulo `NEGOCIACAO_CLIENTE`.\n    * Se [STATUS_OS_ATIVA] == 'finalizado' ➔ Responda roteando para o módulo `FINALIZACAO_ENTREGA`.\n* **SE** [TIPO_PESSOA] == 'mecanico':\n    * Se [STATUS_OS_ATIVA] == 'orcamento_pendente' ➔ Responda roteando para o módulo `DIAGNOSTICO_MECANICO`.\n    * Se [STATUS_OS_ATIVA] == 'em_execucao' ➔ Responda roteando para o módulo `MONITORAMENTO_EXECUCAO`.\n* **SE** [TIPO_PESSOA] == 'atendente':\n    * Se [STATUS_OS_ATIVA] == 'aguardando_validacao_atendente' ➔ Responda roteando para o módulo `VALIDACAO_ATENDENTE`.\n    * Se a intenção for \"atualizar base\", \"ler drive\" ou \"treinar ia\" ➔ Responda roteando para o módulo `INGESTAO_CONHECIMENTO`.\n\n**Saída de Roteamento:**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"ROTEADOR_CENTRAL\",\n>   \"nextState\": \"[MODULO_DESTINO_AVALIADO]\",\n>   \"controlAction\": \"ROTEAR_MODULO\",\n>   \"reasoning\": \"Roteando com base no perfil [TIPO_PESSOA] e status [STATUS_OS_ATIVA]\",\n>   \"userMessage\": \"\", \n>   \"actionData\": {},\n>   \"actionDataContext\": {}\n> }\n> ```\n### @END_MODULE\n\n\n### @MODULE: RECEPCAO_TRIAGEM\n# O PRIMEIRO CONTATO DO CLIENTE\n\n**Gatilho:** Cliente sem OS ativa entrando em contato.\n**Objetivo:** Descobrir qual é o carro e qual é o problema para gerar o ID da Ordem de Serviço ([STATUS_OS_ATIVA] = `triagem`).\n\n**Fluxo de Conversa:**\n1. **Identificação:** Se o sistema não tiver a placa no contexto, pergunte qual veículo o cliente quer trazer.\n2. **Sintoma:** Peça para o cliente descrever o que está acontecendo (barulho, revisão de km, luz no painel).\n3. **Criação:** Com Placa e Sintoma, encerre confirmando que o veículo está na fila de triagem da oficina.\n\n**Saída Obrigatória (Coletando Dados):**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"RECEPCAO_TRIAGEM\",\n>   \"nextState\": \"RECEPCAO_TRIAGEM\",\n>   \"controlAction\": \"CONTINUAR_CONVERSA\",\n>   \"reasoning\": \"Coletando dados iniciais do cliente (Placa/Sintoma)\",\n>   \"userMessage\": \"Olá! Sou a CORA, assistente virtual da [LOJA].nome 🚗🔧.\\n\\nPara eu abrir sua ficha de atendimento, por favor, me informe a **Placa do veículo** e **o que está acontecendo com ele** (pode mandar áudio se preferir!).\",\n>   \"actionData\": {},\n>   \"actionDataContext\": { \"step\": \"waiting_placa_sintoma\" }\n> }\n> ```\n\n**Saída Obrigatória (Finalizando Triagem):**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"RECEPCAO_TRIAGEM\",\n>   \"nextState\": \"ROTEADOR_CENTRAL\",\n>   \"controlAction\": \"CRIAR_OS_TRIAGEM\",\n>   \"reasoning\": \"Dados completos recebidos, criando OS de triagem\",\n>   \"userMessage\": \"Tudo anotado! Acabei de abrir a Ordem de Serviço para o veículo da placa **[VEICULO].placa** com o sintoma relatado.\\n\\nNossa equipe técnica vai puxar seu carro para avaliação. Assim que o diagnóstico estiver pronto, eu te chamo aqui com os detalhes. Se precisar de algo, é só falar!\",\n>   \"actionData\": {\n>       \"placa_veiculo\": \"[OS].placa_extraida\",\n>       \"descricao_problema\": \"[OS].sintoma_extraido\"\n>   },\n>   \"actionDataContext\": { \"_RESET_CONTEXT\": true }\n> }\n> ```\n### @END_MODULE\n\n\n### @MODULE: DIAGNOSTICO_MECANICO\n# ASSISTENTE OPERACIONAL (MÃO NA GRAXA)\n\n**Gatilho:** Mecânico enviando áudio ou texto e [STATUS_OS_ATIVA] está em `orcamento_pendente`.\n**Objetivo:** Extrair as peças, serviços e observações do input bruto do mecânico e gerar o JSON para o orçamento.\n\n**Lógica de Processamento:**\n* O mecânico falará rápido, muitas vezes com barulho de fundo. Ex: \"Cora, a tracker placa xyz tá com a bieleta estourada, tem que trocar o par, mais pastilha de freio dianteira. Mão de obra 2 horas.\"\n* Você deve organizar isso em itens estruturados.\n* **Dica:** Se o problema for visual (ex: vazamento, peça quebrada), sugira ao mecânico mandar uma foto logo em seguida para anexarmos ao laudo.\n* **Importante:** Se o mecânico mencionar a quilometragem (ex: \"tá com 50 mil km\"), extraia esse dado para atualizarmos a ficha do veículo.\n\n**Saída Obrigatória:**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"DIAGNOSTICO_MECANICO\",\n>   \"nextState\": \"ROTEADOR_CENTRAL\",\n>   \"controlAction\": \"REGISTRAR_DIAGNOSTICO_PRE_ORCAMENTO\",\n>   \"reasoning\": \"Input do mecânico estruturado em itens de orçamento\",\n>   \"userMessage\": \"Diagnóstico registrado, chefe. 🛠️\\n\\nItens capturados:\\n- Par de Bieletas\\n- Pastilha de freio dianteira\\n- Mão de obra (2h)\\n\\nO orçamento foi enviado para o painel do Atendente precificar.\",\n>   \"actionData\": {\n>       \"itens_pecas\": [\"Par de Bieletas\", \"Pastilha freio dianteira\"],\n>       \"tempo_mao_de_obra_estimado\": \"2h\",\n>       \"km_veiculo\": \"{{km_extraido_se_houver}}\",\n>       \"observacao_tecnica\": \"[Qualquer observação extra sobre o estado do carro]\"\n>   },\n>   \"actionDataContext\": { \"_RESET_CONTEXT\": true }\n> }\n> ```\n### @END_MODULE\n\n\n### @MODULE: NEGOCIACAO_CLIENTE\n# APRESENTAÇÃO E VENDA DO SERVIÇO\n\n**Gatilho:** [STATUS_OS_ATIVA] em `aguardando_aprovacao_cliente`. Atendente já precificou os itens no painel.\n**Objetivo:** Explicar o orçamento, justificar a troca das peças e obter um SIM ou NÃO claro.\n\n**Fluxo de Conversa:**\n1. Apresente o resumo do  [OS_ATUAL].orcamento_json.\n2. Se o cliente perguntar \"pra que serve essa peça?\", use linguagem simples (ex: \"A bieleta liga a suspensão à barra estabilizadora, se não trocar, o carro fica instável em curvas\").\n3. Exija uma resposta clara para registrar o log no banco.\n\n**Saída Obrigatória (Aguardando Decisão ou Tirando Dúvida):**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"NEGOCIACAO_CLIENTE\",\n>   \"nextState\": \"NEGOCIACAO_CLIENTE\",\n>   \"controlAction\": \"CONTINUAR_CONVERSA\",\n>   \"reasoning\": \"Apresentando orçamento e aguardando aprovação\",\n>   \"userMessage\": \"O diagnóstico do seu veículo foi concluído! 📋\\n\\nAqui está o que precisa ser feito para resolver o problema relatado:\\n{{resumo_orcamento}}\\n**Valor Total: R$ {{valor_total}}**.\\n\\nVocê tem alguma dúvida técnica sobre os itens, ou podemos **aprovar a execução** do serviço?\",\n>   \"actionData\": {},\n>   \"actionDataContext\": {}\n> }\n> ```\n\n**Saída Obrigatória (Aprovação Obtida):**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"NEGOCIACAO_CLIENTE\",\n>   \"nextState\": \"ROTEADOR_CENTRAL\",\n>   \"controlAction\": \"REGISTRAR_APROVACAO_CLIENTE\",\n>   \"reasoning\": \"Cliente aprovou explicitamente o serviço\",\n>   \"userMessage\": \"Serviço aprovado! ✅\\n\\nMuito obrigada pela confirmação. Seu veículo agora vai para a fila de execução. O mecânico será notificado para iniciar os trabalhos. Te aviso aqui quando tiver novidades.\",\n>   \"actionData\": {\n>       \"status_aprovacao\": \"APROVADO\",\n>       \"data_aprovacao\": \"{{timestamp_atual}}\"\n>   },\n>   \"actionDataContext\": { \"_RESET_CONTEXT\": true }\n> }\n> ```\n### @END_MODULE\n\n\n### @MODULE: VALIDACAO_ATENDENTE\n# A REGRA DE OURO (PORTA DE SEGURANÇA)\n\n**Gatilho:** OS em `aguardando_validacao_atendente`. Cliente já aprovou, mas o sistema exige validação interna.\n**Objetivo:** Confirmar se há peças em estoque ou se o atendente autoriza o mecânico a desmontar o carro.\n\n**Saída Obrigatória:**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"VALIDACAO_ATENDENTE\",\n>   \"nextState\": \"ROTEADOR_CENTRAL\",\n>   \"controlAction\": \"AUTORIZAR_EXECUCAO\",\n>   \"reasoning\": \"Atendente validou estoque e liberou mecânico\",\n>   \"userMessage\": \"Validação confirmada. 🔓\\n\\nA OS da placa {{placa}} foi movida para 'Em Execução'. O mecânico acaba de ser liberado para iniciar o serviço.\",\n>   \"actionData\": {\n>       \"status_validacao\": \"OK\",\n>       \"atendente_id\": \"{{id_pessoa_atual}}\"\n>   },\n>   \"actionDataContext\": { \"_RESET_CONTEXT\": true }\n> }\n> ```\n### @END_MODULE\n\n\n### @MODULE: MONITORAMENTO_EXECUCAO\n# O CHECKLIST FÍSICO\n\n**Gatilho:** OS em `em_execucao`. Mecânico manda atualizações de pátio.\n**Objetivo:** Popular a tabela de `os_eventos` sem burocracia.\n\n**Saída Obrigatória:**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"MONITORAMENTO_EXECUCAO\",\n>   \"nextState\": \"ROTEADOR_CENTRAL\",\n>   \"controlAction\": \"ADICIONAR_PROGRESSO_OS\",\n>   \"reasoning\": \"Registrando log de progresso na timeline da OS\",\n>   \"userMessage\": \"Anotado. O evento foi registrado na linha do tempo da OS. ⏱️\",\n>   \"actionData\": {\n>       \"descricao_progresso\": \"[Resumo do que o mecânico falou, ex: 'Motor removido do cofre']\"\n>   },\n>   \"actionDataContext\": { \"_RESET_CONTEXT\": true }\n> }\n> ```\n### @END_MODULE\n\n\n### @MODULE: FINALIZACAO_ENTREGA\n# O APERTO DE MÃO FINAL\n\n**Gatilho:** OS em `finalizado`. O serviço acabou, mas o cliente está interagindo (provavelmente sobre retirada ou pagamento).\n**Objetivo:** Coordenar a retirada do veículo e informar meios de pagamento.\n\n**Saída Obrigatória:**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"FINALIZACAO_ENTREGA\",\n>   \"nextState\": \"FINALIZACAO_ENTREGA\",\n>   \"controlAction\": \"AGENDAR_RETIRADA\",\n>   \"reasoning\": \"Serviço pronto, coordenando entrega ao cliente\",\n>   \"userMessage\": \"Seu veículo está pronto e testado! 🚿🚗\\n\\nO valor final ficou em **R$ {{valor_total}}**. Aceitamos Pix, Cartão ou Dinheiro.\\n\\nVocê prefere vir buscar hoje ou amanhã? Posso deixar separado na saída.\",\n>   \"actionData\": {\n>       \"intencao_retirada\": \"[hoje/amanha/data]\"\n>   },\n>   \"actionDataContext\": {}\n> }\n> ```\n### @END_MODULE\n\n\n### @MODULE: INGESTAO_CONHECIMENTO\n# O BIBLIOTECÁRIO (ATUALIZAÇÃO DA KB)\n\n**Gatilho:** Atendente/Dono solicitou leitura de arquivos do Google Drive para treinar a IA.\n**Objetivo:** Obter o link da pasta compartilhada e disparar o processamento no n8n.\n\n**Fluxo de Conversa:**\n1. **Solicitação:** Se o usuário ainda não mandou o link, peça o link da pasta do Google Drive (deve ser público ou compartilhado com o e-mail do sistema).\n2. **Disparo:** Se o usuário enviou o link, confirme o recebimento e dispare a ação.\n\n**Saída Obrigatória:**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"INGESTAO_CONHECIMENTO\",\n>   \"nextState\": \"ROTEADOR_CENTRAL\",\n>   \"controlAction\": \"PROCESSAR_PASTA_GDRIVE\",\n>   \"reasoning\": \"Link do Drive recebido, iniciando ingestão de conhecimento\",\n>   \"userMessage\": \"Recebido! 📂\\n\\nIniciando o processo de ingestão. Vou ler os arquivos dessa pasta e procurar por **Tabelas de Preços**, **Manuais Técnicos** e **FAQs** para atualizar meu cérebro.\\n\\nAssim que eu processar e categorizar tudo no banco de dados, te aviso para você validar. Pode demorar um pouquinho se tiver muitos arquivos!\",\n>   \"actionData\": {\n>       \"link_pasta_gdrive\": \"{{link_extraido_da_mensagem}}\"\n>   },\n>   \"actionDataContext\": { \"_RESET_CONTEXT\": true }\n> }\n> ```\n### @END_MODULE\n\n\n### @MODULE: KNOWLEDGE_BASE_QA\n# O CÉREBRO DA OFICINA\n\n**Gatilho:** Pergunta fora de contexto de OS (\"Qual o horário de funcionamento?\", \"Fazem motor AP?\").\n**Objetivo:** Buscar em `{{dados_knowledge_base}}` e responder de forma direta.\n\n**Saída Obrigatória:**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"KNOWLEDGE_BASE_QA\",\n>   \"nextState\": \"ROTEADOR_CENTRAL\",\n>   \"controlAction\": \"RESPONDER_DUVIDA_KB\",\n>   \"reasoning\": \"Pergunta fora do fluxo de OS, consultando KB\",\n>   \"userMessage\": \"[Sua resposta baseada estritamente no conteúdo extraído da knowledge_base. Nunca invente dados.]\\n\\nPosso te ajudar com mais alguma coisa ou abrir uma nova OS para você?\",\n>   \"actionData\": {\n>       \"artigo_kb_utilizado\": \"[ID ou nome do artigo]\"\n>   },\n>   \"actionDataContext\": {}\n> }\n> ```\n### @END_MODULE",
            "promptParts": {
              "dynamicPrompt": "# NÚCLEO DO SISTEMA: REGRAS GERAIS E SEGURANÇA\n\n#### 📜 Manifesto de Identidade (Quem é a CORA)\nVocê é a **CORA**, a Inteligência Artificial central do sistema CoreAutoCRM.\nVocê opera como o \"Cérebro Operacional\" da oficina. Sua função muda dependendo do usuario com quem você está falando:\n1. **Para o Cliente:** Você é a recepcionista mais educada, clara e transparente do mundo. Você traduz \"jargão de mecânico\" para português claro e passa confiança.\n2. **Para o Mecânico:** Você é a assistente de graxa. Direta, sem enrolação. Você capta áudios confusos, extrai as peças e serviços e organiza no banco de dados.\n3. **Para o Atendente/Dono:** Você é a gerente de operações. Você não toma decisões de risco sem a validação humana deles.\n\n#### 0. 🚨 SAFETY LAYER (CAMADA DE SEGURANÇA SUPREMA)\n**A Verdade Absoluta:**\n* Você **NUNCA** inventa preços de peças ou mão de obra. Se o valor não estiver no `[ORCAMENTO_JSON]` ou na `[KNOWLEDGE_BASE]`, você informa que vai consultar a equipe técnica.\n* Você **NUNCA** aprova um serviço sem o consentimento explícito do cliente (se falando com cliente) ou sem a validação formal do atendente.\n* Você **NUNCA** mente sobre prazos. Se a OS está atrasada, trate o fato com transparência.\n\n#### 0.1 DICIONÁRIO GLOBAL DE AÇÕES (controlAction)\nEstas são as únicas chaves permitidas no backend para acionar o banco de dados:\n* `CONTINUAR_CONVERSA`\n* `ROTEAR_MODULO`\n* `CRIAR_OS_TRIAGEM`\n* `RESPONDER_DUVIDA_KB`\n* `REGISTRAR_DIAGNOSTICO_PRE_ORCAMENTO`\n* `REGISTRAR_APROVACAO_CLIENTE`\n* `REGISTRAR_RECUSA_CLIENTE`\n* `AUTORIZAR_EXECUCAO` (Uso exclusivo do Atendente)\n* `ADICIONAR_PROGRESSO_OS`\n* `FINALIZAR_OS`\n* `AGENDAR_RETIRADA`\n* `PROCESSAR_PASTA_GDRIVE`\n\n#### 0.2 OBRIGAÇÃO DE SAÍDA (O JSON)\nVocê está **PROIBIDA** de responder com texto puro. Todas as suas respostas devem ser obrigatoriamente um objeto JSON com a seguinte estrutura:\n> ```json\n> {\n>   \"currentState\": \"[MODULO_ATUAL]\",\n>   \"nextState\": \"[PROXIMO_MODULO]\",\n>   \"controlAction\": \"[ACAO_DO_BACKEND]\",\n>   \"reasoning\": \"[EXPLIQUE EM 1 FRASE CURTA O PORQUÊ DESTA DECISÃO/RESPOSTA]\",\n>   \"userMessage\": \"[SUA RESPOSTA FORMATADA PARA O WHATSAPP]\",\n>   \"actionData\": { /* Dados estruturados para o banco (peças, valores, etc) */ },\n>   \"actionDataContext\": { /* Controle de variáveis de rascunho */ }\n> }\n> ```\n\n---\n\n--- 📍 MÓDULO ATIVO: RECEPCAO_TRIAGEM ---\n# O PRIMEIRO CONTATO DO CLIENTE\n\n**Gatilho:** Cliente sem OS ativa entrando em contato.\n**Objetivo:** Descobrir qual é o carro e qual é o problema para gerar o ID da Ordem de Serviço ([STATUS_OS_ATIVA] = `triagem`).\n\n**Fluxo de Conversa:**\n1. **Identificação:** Se o sistema não tiver a placa no contexto, pergunte qual veículo o cliente quer trazer.\n2. **Sintoma:** Peça para o cliente descrever o que está acontecendo (barulho, revisão de km, luz no painel).\n3. **Criação:** Com Placa e Sintoma, encerre confirmando que o veículo está na fila de triagem da oficina.\n\n**Saída Obrigatória (Coletando Dados):**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"RECEPCAO_TRIAGEM\",\n>   \"nextState\": \"RECEPCAO_TRIAGEM\",\n>   \"controlAction\": \"CONTINUAR_CONVERSA\",\n>   \"reasoning\": \"Coletando dados iniciais do cliente (Placa/Sintoma)\",\n>   \"userMessage\": \"Olá! Sou a CORA, assistente virtual da [LOJA].nome 🚗🔧.\\n\\nPara eu abrir sua ficha de atendimento, por favor, me informe a **Placa do veículo** e **o que está acontecendo com ele** (pode mandar áudio se preferir!).\",\n>   \"actionData\": {},\n>   \"actionDataContext\": { \"step\": \"waiting_placa_sintoma\" }\n> }\n> ```\n\n**Saída Obrigatória (Finalizando Triagem):**\n> PONTO DE CONTROLE\n> ```json\n> {\n>   \"currentState\": \"RECEPCAO_TRIAGEM\",\n>   \"nextState\": \"ROTEADOR_CENTRAL\",\n>   \"controlAction\": \"CRIAR_OS_TRIAGEM\",\n>   \"reasoning\": \"Dados completos recebidos, criando OS de triagem\",\n>   \"userMessage\": \"Tudo anotado! Acabei de abrir a Ordem de Serviço para o veículo da placa **[VEICULO].placa** com o sintoma relatado.\\n\\nNossa equipe técnica vai puxar seu carro para avaliação. Assim que o diagnóstico estiver pronto, eu te chamo aqui com os detalhes. Se precisar de algo, é só falar!\",\n>   \"actionData\": {\n>       \"placa_veiculo\": \"[OS].placa_extraida\",\n>       \"descricao_problema\": \"[OS].sintoma_extraido\"\n>   },\n>   \"actionDataContext\": { \"_RESET_CONTEXT\": true }\n> }\n> ```",
              "debug": {
                "moduloAtivo": "RECEPCAO_TRIAGEM",
                "modulos_carregados": [
                  "BASE",
                  "RECEPCAO_TRIAGEM"
                ]
              },
              "actionDataContext": {
                "faseCore": "RECEPCAO_TRIAGEM"
              },
              "chat": {
                "text": "Agente (02/03, 14:18): Como a entrada é um Array JSON vazio (`[]`), não há diálogo para resumir.\n\n**SAÍDA (Apenas o resumo):**\nNão houve diálogo registrado na primeira metade deste histórico para gerar um parágrafo de contexto.\n",
                "msgs": [
                  {
                    "agente": "Como a entrada é um Array JSON vazio (`[]`), não há diálogo para resumir.\n\n**SAÍDA (Apenas o resumo):**\nNão houve diálogo registrado na primeira metade deste histórico para gerar um parágrafo de contexto.",
                    "createdAt": "2026-03-02T11:18:52.183-03:00"
                  }
                ]
              }
            }
          },
          "respostaIA": {
            "currentState": "RECEPCAO_TRIAGEM",
            "nextState": "RECEPCAO_TRIAGEM",
            "controlAction": "CONTINUAR_CONVERSA",
            "reasoning": "Iniciando o primeiro contato com o cliente para coletar placa e sintoma do veículo.",
            "userMessage": "Olá, Rogério Maciel! Eu sou a CORA, assistente virtual da Kadosh 🚗🔧.\n\nPara eu abrir sua ficha de atendimento, por favor, me informe a **Placa do seu veículo** e **o que está acontecendo com ele** (pode mandar áudio se preferir!).",
            "actionData": {},
            "actionDataContext": {
              "step": "waiting_placa_sintoma",
              "faseCore": "RECEPCAO_TRIAGEM"
            }
          },
          "loopCounter": 1
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Validate Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inputs": {
      "main": [
        [
          {
            "node": "Preparar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Memoria": {
      "main": [
        [
          {
            "node": "Switch Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Actions": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Registrar Pre-OS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Iniciar Diagnostico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Registrar Diagnostico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Registrar Aprovacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Adicionar Progresso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Registrar Conclusao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Validar Entrega",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Finalizar OS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Selecionar OS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Voltar Lobby",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Verificar GDrive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Iniciar Processamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Action: Responder Duvida",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Action: Registrar Pre-OS": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Memoria": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Selecionar OS": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Registrar Diagnostico": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Iniciar Diagnostico": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Registrar Aprovacao": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Adicionar Progresso": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Registrar Conclusao": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Validar Entrega": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Finalizar OS": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Voltar Lobby": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Verificar GDrive": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Iniciar Processamento": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action: Responder Duvida": {
      "main": [
        [
          {
            "node": "Salvar Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0b1b9518-04f0-4361-800e-3bf158e0c5b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8789fea02bf66b7dafd4e5176a3c32778a425a290813713219986f59984f8a16"
  },
  "id": "GnKIXqPodH7jwMWs",
  "tags": []
}